.calculator{
    display:flex;
    justify-content: center;
    align-items: center;
}
.contain{
    width:300px;
    height:600px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.contain form input{
    border:0;
    width:60px;
    height:60px;
    border-radius: 10px;
    margin:5px;
    background: transparent;
    background-color:white;
}
.contain form input:active{
    border:2px solid black;
}
#result{
    width:277px;
    text-align: right;
    font-size: 20px;
}
#equals{
    width:135px;
}